@import '../../../main.scss';
div{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(180deg, #4dacff 0%, #1ee0ff 20%, #adf5f2 50%, #adf5c6 75%, #adf5c6 100%); ;
  // background: linear-gradient(180deg, rgb(50,213,198)  0%,rgb(50,213,198) 20%, rgb(173,245,198) 50%, rgb(173,245,198) 75%, rgb(173,245,198) 100%);
  overflow: hidden;
  // background: -webkit-radial-gradient(rgb(170, 242, 202), rgb(38, 209, 200));
  // background: radial-gradient(rgb(170, 242, 202), rgb(38, 209, 200));
}

