<nav class=" navbar navbar-expand navbar-light header">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['map']" routerLinkActive="active" title="{{ 'map' | translate }}">
        <img class="icon" src="assets/img/gpwear/asideIcon/dashboard.svg"/>
        <img class="click" src="assets/img/gpwear/asideIcon/dashboardOn.svg"/>
        <p>{{ 'map' | translate }}</p>
      </a>
    </li>
    <li class="nav-item" *ngIf="permissions?.aside?.device">
      <a class="nav-link" [routerLink]="['ruler']" routerLinkActive="active" title="{{ 'ruler' | translate }}">
        <img class="icon" src="assets/img/gpwear/asideIcon/project.svg" alt=""/>
        <img class="click" src="assets/img/gpwear/asideIcon/projectOn.svg" alt=""/>
        <p>{{ 'ruler' | translate }}</p>
      </a>
    </li>
    <li class="nav-item" *ngIf="permissions?.aside?.device">
      <a class="nav-link" [routerLink]="['account']" routerLinkActive="active" title="{{ 'account' | translate }}">
        <img class="icon" src="assets/img/gpwear/asideIcon/device.svg" alt=""/>
        <img class="click" src="assets/img/gpwear/asideIcon/deviceOn.svg" alt=""/>
        <p>{{ 'account' | translate }}</p>
      </a>
    </li>
    <li class="nav-item" *ngIf="permissions?.aside?.device">
      <a class="nav-link" [routerLink]="['mountain']" routerLinkActive="active" title="{{ 'mountain' | translate }}">
        <img class="icon" src="assets/img/gpwear/asideIcon/device.svg" alt=""/>
        <img class="click" src="assets/img/gpwear/asideIcon/deviceOn.svg" alt=""/>
        <p>{{ 'mountain' | translate }}</p>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <img src="assets/img/gpwear/asideIcon/languageChange.svg" alt="" (click)="changeLang()" />

    <app-user></app-user>
  </ul>
</nav>
