@import '../../../scss/base/base.scss';
.btn{
  background: $mainColor;
  border: unset;
  width: 100%;
  color: $white;
  // text-shadow: 1px 1px 2px rgb(233, 43, 43);
  &:hover{
    // box-shadow: 0 0px 2px $black ;
    transform: translateY(2px);
    background: $mainColorHover;
    color: $white;
  }
  span{
    color: $white;
  }
}
