<aside class="main-sidebar sidebar-dark-primary">
  <a class="brand-link">
    <img src="assets/img/home/logo/logo.png" alt="Logo" class="font-weight-light"/>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['map']" routerLinkActive="active" title="{{ 'map' | translate }}">
            <img class="icon" src="assets/img/gpwear/asideIcon/map.svg"/>
            <img class="click" src="assets/img/gpwear/asideIcon/mapOn.svg"/>
            <span>{{ 'map' | translate }}</span>
          </a>
        </li>
        <!-- <li class="nav-item" *ngIf="permissions?.aside?.device">
          <a class="nav-link" [routerLink]="['ruler']" routerLinkActive="active" title="{{ 'ruler' | translate }}">
            <img class="icon" src="assets/img/gpwear/asideIcon/ruler.svg" alt=""/>
            <img class="click" src="assets/img/gpwear/asideIcon/rulerOn.svg" alt=""/>
            <span>{{ 'ruler' | translate }}</span>
          </a>
        </li> -->

        <li class="nav-item" *ngIf="permissions?.aside?.mountain">
          <a class="nav-link" [routerLink]="['mountain']" routerLinkActive="active" title="{{ 'mountain' | translate }}">
            <img class="icon" src="assets/img/gpwear/asideIcon/mountain.svg" alt=""/>
            <img class="click" src="assets/img/gpwear/asideIcon/mountainOn.svg" alt=""/>
            <span>{{ 'mountain' | translate }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="permissions?.aside?.account">
          <a class="nav-link" [routerLink]="['account']" routerLinkActive="active" title="{{ 'account' | translate }}">
            <img class="icon" src="assets/img/gpwear/asideIcon/account.svg" alt=""/>
            <img class="click" src="assets/img/gpwear/asideIcon/accountOn.svg" alt=""/>
            <span>{{ 'account' | translate }}</span>
          </a>
        </li>
        <br/>
        <li class="nav-header">{{ 'language' | translate }}</li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeLang()" title="{{ 'languageChange' | translate }}">
            <img src="assets/img/gpwear/asideIcon/languageChange.svg" alt=""/>
            <p>{{ 'languageChange' | translate }}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
