<app-account-loading *ngIf="isLoadind"></app-account-loading>
<div class="fullpage">
  <div class="section" id="section0">
    <div id="container" class="wrapper">
      <ul id="scene" class="scene unselectable"
        data-friction-x="0.1"
        data-friction-y="0.1"
        data-scalar-x="25"
        data-scalar-y="15">
        <li class="layer" data-depth="0.10">
          <div class="sunny sunnyShadowIn"></div>
          <div class="sunny sunnyShadowOut"></div>
          <div class="sunny"></div>
        </li>
        <li class="layer" data-depth="0.10"><div class="mountainSmalRight"></div></li>
        <li class="layer" data-depth="0.15"><div class="mountainLeft"></div></li>
        <li class="layer" data-depth="0.10"><div class="mountainSmalLeft"></div></li>
        <li class="layer" data-depth="0.15"><div class="mountainRight"></div></li>
        <li class="layer" data-depth="0.20"><div class="mountainCenter"></div></li>
        <li class="layer" data-depth="0.05"><div class="bannerTitle"></div></li>
        <li class="layer" data-depth="0.015"><div class="stone"></div></li>
        <li class="layer" data-depth="0.02"><div class="hiker"></div></li>
        <!-- <li class="layer" data-depth="0.10"><h1 id="bannerText" class="bannerText">
          <p>台灣山林</p>
        </h1></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="login-box">
  <div class="card">
    <div class="card-body login-card-body">
      <form #loginForm="ngForm">
        <div class="input-group mb-3">
          <input name="username" [ngModel]="rememberMe?.username" type="email" class="form-control" placeholder="{{ 'account' | translate }}"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" [ngModel]="rememberMe?.password" type="password" class="form-control" placeholder="{{ 'passWord' | translate }}"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="icheck-primary">
              <input name="remember" [ngModel]="rememberMe?.username" type="checkbox" id="remember"/>
              <label for="remember">{{ 'rememberMe' | translate }}</label>
            </div>
          </div>
          <div class="col-6">
            <div class="language">
              <form #selectForm="ngForm">
                <select name="language" [ngModel]="lang" (ngModelChange)="selectClick(selectForm)">
                  <option value="zh">中文</option>
                  <option value="en">English</option>
                </select>
              </form>
            </div>
          </div>
          <div class="col-8 loginBtn">
            <app-button [block]="true" [text]="'login'" [loading]="isAuthLoading" (click)="login(loginForm)"></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

