@import '../../../scss/base/base.scss';
div{
  p{
    cursor: pointer;
    font-weight: 100;
    span{
      vertical-align: bottom;
      display: inline-block;
      .fa-caret-up, .fa-caret-down{
        display: block;
      }
      .select{
        color: $white;
      }
      .unSelect{
        opacity: .4;
      }
    }
  }
}
