<li class="nav-item dropdown user-menu">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown">
    <!-- <img src="assets/img/eleplo/logo.png" class="user-image img-circle elevation-2" alt="User Image"/> -->
    <!-- <img src="assets/img/eleplo/eleploLogo.png" class="user-image" alt="User Image" title="{{'profile' | translate}}"/> -->
    <div class="userIcon">
      <!-- <img src="assets/img/eleplo/eleploLogo.png" alt="User Image" /> -->
      <i class="nav-icon fas fa-user"></i>
      <span>{{ userData.name }}</span>
      <!-- <img [src]="userData.user.companyPo.companyImageUrl||'assets/img/eleplo/eleploTitle.png'" alt="User Image" /> -->
    </div>
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <li class="user-header">
      <div class="userImg">
        <img src="assets/img/home/hiker.png" alt="User Image"/>
        <!-- <img [src]="userData.user.companyPo.companyImageUrl||'assets/img/eleplo/eleploTitle.png'" alt="User Image" /> -->
      </div>
      <p>{{ userData.name }}</p>
    </li>
    <li class="user-body">
      <div class="row">
        <small class="col-12 text-center">{{ 'effectiveTime' | translate }} : {{ time?.hours}}:{{ time?.minutes}}:{{ time?.seconds}}</small>
        <!-- <small class="col-12 text-center">{{ 'effectiveTime' | translate }} : {{ userData.tokenExpiration | date:'yyyy/MM/dd HH:mm:ss' }}</small> -->
      </div>
    </li>
    <li class="user-footer">
      <a class="btn btn-default btn-flat" (click)="changePassword()">{{ 'changePasswords' | translate }} </a>
      <a class="btn btn-default btn-flat float-right" (click)="logout()">{{ 'logOut' | translate }}</a>
    </li>
  </ul>
</li>

