<div class="page">
  <!-- 燈箱背景 -->
  <app-overlay [lightBox]="lightBox" (lightBoxCloseEvent)="lightBoxClose()"></app-overlay>
  <!-- 主表格 -->
  <div class="contentBox">
    <div class="operatingBar">
      <!-- 互動操作區 -->
      <app-operating-bar #operatingBar [titles]="titles" (datasWorkEvent)="datasWork()"></app-operating-bar>
      <!-- 新增按鈕 -->
      <app-index-button *ngIf="btns?.add" [text]="'add'" [type]="'lightBox'" (lightBoxOpenEvent)="selected($event.datas, $event.ligthBoxType)"></app-index-button>
    </div>
    <div class="tableBox scrollbarstyle">
      <!-- 表格 -->
      <table class="table">
        <thead>
          <tr>
            <th>
              <app-table-sort [name]="'number'" [sortType]="sortType" [sequence]="sequence" (sortBtnEvent)="setSort($event)"></app-table-sort>
            </th>
            <th>
              <app-table-sort [name]="'name'" [sortType]="sortType" [sequence]="sequence" (sortBtnEvent)="setSort($event)"></app-table-sort>
            </th>
            <th>
              <app-table-sort [name]="'username'" [sortType]="sortType" [sequence]="sequence" (sortBtnEvent)="setSort($event)"></app-table-sort>
            </th>
            <th>
              <app-table-sort [name]="'role'" [sortType]="sortType" [sequence]="sequence" (sortBtnEvent)="setSort($event)"></app-table-sort>
            </th>
            <th>{{ 'operation' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <td>{{ data?.number }}</td>
            <td>{{ data?.name }}</td>
            <td>{{ data?.username }}</td>
            <td>
              <p *ngFor="let role of data?.roles">{{ role?.name }}</p>
            </td>
            <td>
              <app-index-button *ngIf="btns?.edit&&data?.id!=1&&data?.id!=userData?.user?.id&&data?.enabled" [text]="'edit'" [type]="'lightBox'" [data]="data" (lightBoxOpenEvent)="selected($event.datas, $event.ligthBoxType)"></app-index-button>
              <app-index-button *ngIf="btns?.remove&&data?.id!=1&&data?.id!=userData?.user?.id" [text]="'remove'" [type]="'lightBox'" [data]="data" (lightBoxOpenEvent)="selected($event.datas, $event.ligthBoxType)"></app-index-button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="datas?.length==0">
          <tr>
            <td [attr.colspan]="7">{{ 'noData' | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="checkBox">
      <div class="check">
        <div class="wrap" *ngFor="let data of datas">
          <p>{{ 'number' | translate }} : {{ data?.number }}</p>
          <p>{{ 'name' | translate }} : {{ data?.name }}</p>
          <p>{{ 'username' | translate }} : {{ data?.username }}</p>
          <p>
            {{ 'role' | translate }} :
            <span *ngFor="let role of data?.roles">{{ role?.name }}</span>
          </p>
          <hr/>
          <div>
            <app-index-button *ngIf="btns?.edit&&data?.enabled" [text]="'edit'" [type]="'lightBox'" [data]="data" (lightBoxOpenEvent)="selected($event.datas, $event.ligthBoxType)"></app-index-button>
            <app-index-button *ngIf="btns?.remove&&data?.id!=1&&data?.id!=userData?.user?.id" [text]="'remove'" [type]="'lightBox'" [data]="data" (lightBoxOpenEvent)="selected($event.datas, $event.ligthBoxType)"></app-index-button>
          </div>
        </div>
        <div class="noData" *ngIf="datas?.length==0">
          <p>{{ 'noData' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 新增 -->
  <div class="formBox" *ngIf="lightBox==='add'">
    <h6>{{ 'add' | translate }}{{ pageName | translate }}</h6>
    <form #addForm="ngForm" class="scrollbarstyle">
      <div class="inputArea">
        <input type="text" name="name" (click)="errorReset()" placeholder="EX: {{ 'Kang' | translate }}" ngModel required>
        <label>
          <span> * </span>
          {{ 'name' | translate }}
          <span>{{ errorName }}</span>
        </label>
      </div>
      <div class="inputArea">
        <input type="email" name="username" (click)="errorReset()" placeholder="EX: {{ 'a0926036356@gmail.com' | translate }}" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <label>
          <span> * </span>
          {{ 'email' | translate }}
          <span>{{ errorUsername }}</span>
        </label>
      </div>
      <div class="buttonArea">
        <app-index-button [text]="'doAdd'" [type]="'action'" (doActionEvent)="addPerson(addForm)" [form]="addForm" ></app-index-button>
        <app-index-button [text]="'cancel'" [type]="'cancel'" (lightBoxCloseEvent)="lightBoxClose()"></app-index-button>
      </div>
    </form>
  </div>

  <!-- 修改 -->
  <div class="formBox" *ngIf="lightBox==='edit'">
    <h6>{{ 'edit' | translate }}{{ pageName | translate }}</h6>
    <form #editForm="ngForm" class="scrollbarstyle">
      <div class="inputArea">
        <input type="text" name="name" (click)="errorReset()" placeholder="EX: {{ 'Kang' | translate }}" [ngModel]="selectData.name" required>
        <label>
          <span> * </span>
          {{ 'name' | translate }}
          <span>{{ errorName }}</span>
        </label>
      </div>
      <div class="buttonArea">
        <app-index-button [text]="'doEdit'" [type]="'action'" (doActionEvent)="editPerson(editForm)" [form]="editForm"></app-index-button>
        <app-index-button [text]="'cancel'" [type]="'cancel'" (lightBoxCloseEvent)="lightBoxClose()"></app-index-button>
      </div>
    </form>
  </div>
  <!-- 刪除 -->
  <app-remove-box [pageName]="pageName" [removes]="removes" [lightBox]="lightBox" (removeClickEvent)="deletePerson()" (lightBoxCloseEvent)="lightBoxClose()"></app-remove-box>
</div>
