// @import '../base/base.scss';
@mixin checkbox {
  p {
    input {
      margin-right: 10px;
      display: inline;
      width: 20px;
      height: 16px;
    }
  }
}

@mixin cbx($po1: '', $po2: '') {
  position: relative;
  &::before {
    position: absolute;
    content: url($po1);
    font-size: 0;
    width: 20px;
    height: 20px;
    background: white;
  }
  &:checked::before {
    content: url($po2);
  }
}
%cbx {
  position: relative;
  &::before {
    position: absolute;
    content: url('../../assets/img/gpwear/pageIcon/checkbox.svg');
    font-size: 0;
    width: 20px;
    height: 20px;
    background: white;
  }
  &:checked::before {
    content: url('../../assets/img/gpwear/pageIcon/checkboxChecked.svg');
  }
}
