@import '../../../scss/main.scss';
:host {
  min-width: 100vw;
  min-height: 100vh;
}
.wrapper{
  .content-wrapper {
    padding: 10px;
    background: $white;
    height: calc(100vh - 57px);
    overflow: scroll;
  }
}
